.button {
  all: unset;
}

.primary {
  padding: 1.3rem;
  color: var(--color-white);
  text-align: center;
  border-radius: 8px;
  background-color: var(--color-primary);
  height: 4.8rem;
  border: none;
  max-width: 447px;
  width: 100%;
}
