@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

//Variables
:root {
  --color-primary: #39cdcc;
  --color-gray: #545f7d;
  --color-secondary: #213f7d;
  --color-danger: #e4033b;
  --color-black: #0b132b;
  --color-white: #ffffff;
  --color-text-primary: rgba(33, 63, 125, 1);
  --color-text-secondary: rgba(84, 95, 125, 1);
  --bg-primary: rgba(84, 95, 125);
  --opaque-bg: rgba(33, 63, 125, 0.1);
  --font-family: "Manrope", sans-serif;
  --color-primary-opaque: var(--color-primary-opaque);

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family: "Work Sans", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px, for when you have to use rem values
  height: -webkit-fill-available;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  color: var(--color-black);
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 1rem;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;

  &::-webkit-scrollbar-thumb {
    background: rgb(87, 106, 129, 0.6);
    border-radius: 4px;
  }
  pointer-events: auto !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fbfbfb;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #213f7d;
  border-radius: 4px;
}
