@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

//Variables
:root {
  --color-primary: #39cdcc;
  --color-gray: #545f7d;
  --color-secondary: #213f7d;
  --color-danger: #e4033b;
  --color-black: #0b132b;
  --color-white: #ffffff;
  --color-text-primary: rgba(33, 63, 125, 1);
  --color-text-secondary: rgba(84, 95, 125, 1);
  --bg-primary: rgba(84, 95, 125);
  --opaque-bg: rgba(33, 63, 125, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --roboto-font: "Roboto", sans-serif;
  --parent-bg: #fbfbfb;
  --work-sans-font: "Work Sans", sans-serif;
  --secondary-bg: rgba(255, 255, 255, 1);
  --secondary-border: #d3d9e5;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px, for when you have to use rem values
  height: -webkit-fill-available;
}

body {
  font-family: var(--work-sans-font);
  font-weight: var(--font-regular);
  color: var(--color-black);
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 1rem;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;

  &::-webkit-scrollbar-thumb {
    background: rgb(87, 106, 129, 0.6);
    border-radius: 4px;
  }
  pointer-events: auto !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--parent-bg);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #213f7d;
  border-radius: 4px;
}

input::placeholder {
  color: var(--color-text-secondary);
  font-size: 1.4rem;
  font-weight: var(--font-regular);
  font-family: "Avenir Next", sans-serif;
  opacity: 0.6;
}
input,
select,
textarea {
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-color: var(--color-text-primary) !important;
    outline: none;
  }
}
