form {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-direction: column;

  div.input_container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-size: 14px;
      color: #4a4a4a;
    }

    input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      height: 4rem;
      padding: 0rem 1rem;
      color: var(--color-text-secondary);
     
    }
    select {
      border: 1px solid #d3d9e5;
      border-radius: 8px;
      font-size: 1.4rem;
      color: var(--color-gray);
      width: 100%;
      height: 4rem;
      padding: 0rem 1rem;

      &:has(option[value="Select"]:checked) {
        color: var(--color-text-secondary);
        font-size: 1.4rem;
        font-weight: var(--font-regular);
        font-family: "Avenir Next", sans-serif;
        opacity: 0.5;
      }
    }
  }

  select:not(:has(option[value="Select"]:checked)) {
    color: var(--color-gray);
  }

  .date_picker {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;

    .date_input {
      border: none;
      outline: none;
      flex-grow: 1;
      font-size: 14px;
      color: var(--color-text-secondary);
      background: transparent;
      cursor: pointer;
      position: relative;
      z-index: 2;
      opacity: 0;

      /* Ensures input is visible only when a date is selected */
      &:focus,
      &:valid {
        opacity: 1;
      }

      /* Hide the default date picker icon */
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    /* Custom placeholder */
    .placeholder {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      color: var(--color-text-secondary);
      pointer-events: none;
      transition: opacity 0.2s ease-in-out;
      z-index: 1;
    }

    /* Hide the placeholder when a date is selected */
    .date_input:valid + .placeholder {
      opacity: 0;
    }

    .calendar_icon {
      width: 18px;
      height: 18px;
      color: #666;
      cursor: pointer;
      margin-right: 1rem;
    }
  }

  .filter_cta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
