.users_table_container {
  overflow: auto;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;

    thead {
      font-weight: var(--font-semibold);
      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: left;
      color: var(--color-text-secondary);

      th {
        padding: 0.2rem 1.6rem;
        font-size: 1.2rem;
        letter-spacing: 0.5px;

        position: relative;

        button {
          background: transparent;
          border: none;
          cursor: pointer;
          margin-left: 0.5rem;
        }
      }
    }

    .th_content {
      display: flex;
      align-items: center;
      gap: 0.6rem;
    }

    tbody {
      tr {
        background: var(--color-white);
        border-radius: 8px;
        transition: all 0.3s ease;

        td {
          padding: 1.6rem;
          color: var(--color-text-secondary);
          font-size: 1.4rem;
          font-weight: var(--font-regular);
          padding-bottom: 2rem;
          padding-top: 2rem;
          border-bottom: 1px solid var(--opaque-bg);

          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }

          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        &:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}
