.filter {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--secondary-bg);
  position: absolute;
  padding: 3rem 2rem;
  border: 1px solid var(--secondary-border);
  width: 100%;
  max-width: 27rem;
  border-radius: 4px;
  top: 8rem;
  z-index: 10;
  overflow-y: scroll;
}

.filter_cta {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
button {
  padding: 1rem 3rem;
  font-weight: var(--font-medium);
  font-size: 1.2rem;
  border-radius: 8px;
  letter-spacing: 0.1rem;
  cursor: pointer;
  height: 4rem;
}

.reset_button {
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
  background-color: var(--color-white);
}

.filter_button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}
