.user_wrapper {
  height: 100dvh;
  // overflow: auto;
}
.text {
  font-size: 2.4rem;
  color: var(--color-text-primary);
  font-weight: var(--font-medium);
}

.card_container {
  width: 100%;
  display: flex;
  gap: 2.4rem;
  padding-top: 3.2rem;
  @media (max-width: 62.5em) {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
  }
}
.text_bold {
  font-weight: var(--font-semibold);
  padding-top: 1.6rem;
}

.sub_text {
  font-weight: var(--font-medium);
  color: var(--color-text-secondary);
  font-size: 1.4rem;
  padding-top: 1.4rem;
}

.table_wrapper {
  padding-top: 2.4rem;
}
